<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <style>
      html,
      body {
          height: 100%;
      }
      html {
          display: table;
          margin: auto;
      }
      body {
          display: table-cell;
          vertical-align: middle;
          background: #4ECDC4;
      }

      #login-page {
        width: 500px;
      }

      .card {
          position: absolute;
          left: 50%;
          top: 50%;
          -moz-transform: translate(-50%, -50%)
          -webkit-transform: translate(-50%, -50%)
          -ms-transform: translate(-50%, -50%)
          -o-transform: translate(-50%, -50%)
          transform: translate(-50%, -50%);
      } 
    </style>
    <%# <script>
      var app = vue.module('mainModule', []);

      app.controller('mainController', function($scope, $http){ //o scope liga o js e o template
        $scope.nome = 'Valor Inicial';
        //$http.get().success();
        $scope.reset = function()
        {
          $scope.nome = '';
        }
      });
    </script> %>

  </head>
  <h2>ログイン</h2>
    <body ng-app="mainModule" ng-controller="mainController">
      <div id="login-page" class="row">
          <div class="col s12 z-depth-6 card-panel">
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <div class="row">
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <i class="material-icons prefix">mail_outline</i>
                  <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
                  <label for="email" data-error="wrong" data-success="right">Email</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <i class="material-icons prefix">lock_outline</i>
                  <%= f.password_field :password, autocomplete: "current-password" %>
                  <label for="password">Password</label>
                </div>
              </div>
              
              <% if devise_mapping.rememberable? %>
                <div class="row">          
                  <div class="input-field col s12 m12 l12 login-text field">
                    <label for="remember-me">Remember me</label>
                    <input type="checkbox" id="remember-me" style = "opacity: 1; pointer-events: auto;"/>
                  </div>
                </div>
              <% end %> 

              <div class="row">
                <div class="input-field col s12 actions">
                  <input type = "submit" value = "Login" class="btn waves-effect waves-light col s12">
                </div>
              </div>
              <%= render "devise/shared/links" %>
            <% end %>
          </div>
      </div> 
    </body>
</html>
