<h2>Dashbord</h2>
<h3>こんにちは、<%= @current_user.username %>さん</h3>


<script>
    user = window.user = {};
    user.id = <%= @current_user.id %>;
</script>
<%= javascript_pack_tag 'hello_vue' %>
<%= stylesheet_pack_tag 'hello_vue' %>

<div id="app"></div>