<h2>Dashbord</h2>
<p>こんにちは、<%= @current_user.username %>さん</p>

<script>
    user = window.user = {};
    user.id = <%= @current_user.id %>;
</script>
<div id="app">
</div>
<%= javascript_pack_tag 'hello_vue' %>

